@media screen and (min-width: 35.5em) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-5,
  .pure-u-sm-2-5,
  .pure-u-sm-3-5,
  .pure-u-sm-4-5,
  .pure-u-sm-5-5,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-8,
  .pure-u-sm-3-8,
  .pure-u-sm-5-8,
  .pure-u-sm-7-8,
  .pure-u-sm-1-12,
  .pure-u-sm-5-12,
  .pure-u-sm-7-12,
  .pure-u-sm-11-12,
  .pure-u-sm-1-24,
  .pure-u-sm-2-24,
  .pure-u-sm-3-24,
  .pure-u-sm-4-24,
  .pure-u-sm-5-24,
  .pure-u-sm-6-24,
  .pure-u-sm-7-24,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24,
  .pure-u-sm-10-24,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-sm-1-12,
  .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-sm-1-8,
  .pure-u-sm-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-sm-1-6,
  .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-sm-1-4,
  .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-sm-1-3,
  .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-sm-3-8,
  .pure-u-sm-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-sm-5-12,
  .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-sm-7-12,
  .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-sm-5-8,
  .pure-u-sm-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-sm-2-3,
  .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-sm-3-4,
  .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-sm-5-6,
  .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-sm-7-8,
  .pure-u-sm-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-sm-11-12,
  .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-5-5,
  .pure-u-sm-24-24 {
    width: 100%;
  }

}

@media screen and (min-width: 48em) {
  .pure-u-med-1,
  .pure-u-med-1-1,
  .pure-u-med-1-2,
  .pure-u-med-1-3,
  .pure-u-med-2-3,
  .pure-u-med-1-4,
  .pure-u-med-3-4,
  .pure-u-med-1-5,
  .pure-u-med-2-5,
  .pure-u-med-3-5,
  .pure-u-med-4-5,
  .pure-u-med-5-5,
  .pure-u-med-1-6,
  .pure-u-med-5-6,
  .pure-u-med-1-8,
  .pure-u-med-3-8,
  .pure-u-med-5-8,
  .pure-u-med-7-8,
  .pure-u-med-1-12,
  .pure-u-med-5-12,
  .pure-u-med-7-12,
  .pure-u-med-11-12,
  .pure-u-med-1-24,
  .pure-u-med-2-24,
  .pure-u-med-3-24,
  .pure-u-med-4-24,
  .pure-u-med-5-24,
  .pure-u-med-6-24,
  .pure-u-med-7-24,
  .pure-u-med-8-24,
  .pure-u-med-9-24,
  .pure-u-med-10-24,
  .pure-u-med-11-24,
  .pure-u-med-12-24,
  .pure-u-med-13-24,
  .pure-u-med-14-24,
  .pure-u-med-15-24,
  .pure-u-med-16-24,
  .pure-u-med-17-24,
  .pure-u-med-18-24,
  .pure-u-med-19-24,
  .pure-u-med-20-24,
  .pure-u-med-21-24,
  .pure-u-med-22-24,
  .pure-u-med-23-24,
  .pure-u-med-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-med-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-med-1-12,
  .pure-u-med-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-med-1-8,
  .pure-u-med-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-med-1-6,
  .pure-u-med-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-med-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-med-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-med-1-4,
  .pure-u-med-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-med-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-med-1-3,
  .pure-u-med-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-med-3-8,
  .pure-u-med-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-med-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-med-5-12,
  .pure-u-med-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-med-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-med-1-2,
  .pure-u-med-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-med-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-med-7-12,
  .pure-u-med-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-med-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-med-5-8,
  .pure-u-med-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-med-2-3,
  .pure-u-med-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-med-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-med-3-4,
  .pure-u-med-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-med-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-med-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-med-5-6,
  .pure-u-med-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-med-7-8,
  .pure-u-med-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-med-11-12,
  .pure-u-med-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-med-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-med-1,
  .pure-u-med-1-1,
  .pure-u-med-5-5,
  .pure-u-med-24-24 {
    width: 100%;
  }

}

@media screen and (min-width: 58em) {
  .pure-u-lrg-1,
  .pure-u-lrg-1-1,
  .pure-u-lrg-1-2,
  .pure-u-lrg-1-3,
  .pure-u-lrg-2-3,
  .pure-u-lrg-1-4,
  .pure-u-lrg-3-4,
  .pure-u-lrg-1-5,
  .pure-u-lrg-2-5,
  .pure-u-lrg-3-5,
  .pure-u-lrg-4-5,
  .pure-u-lrg-5-5,
  .pure-u-lrg-1-6,
  .pure-u-lrg-5-6,
  .pure-u-lrg-1-8,
  .pure-u-lrg-3-8,
  .pure-u-lrg-5-8,
  .pure-u-lrg-7-8,
  .pure-u-lrg-1-12,
  .pure-u-lrg-5-12,
  .pure-u-lrg-7-12,
  .pure-u-lrg-11-12,
  .pure-u-lrg-1-24,
  .pure-u-lrg-2-24,
  .pure-u-lrg-3-24,
  .pure-u-lrg-4-24,
  .pure-u-lrg-5-24,
  .pure-u-lrg-6-24,
  .pure-u-lrg-7-24,
  .pure-u-lrg-8-24,
  .pure-u-lrg-9-24,
  .pure-u-lrg-10-24,
  .pure-u-lrg-11-24,
  .pure-u-lrg-12-24,
  .pure-u-lrg-13-24,
  .pure-u-lrg-14-24,
  .pure-u-lrg-15-24,
  .pure-u-lrg-16-24,
  .pure-u-lrg-17-24,
  .pure-u-lrg-18-24,
  .pure-u-lrg-19-24,
  .pure-u-lrg-20-24,
  .pure-u-lrg-21-24,
  .pure-u-lrg-22-24,
  .pure-u-lrg-23-24,
  .pure-u-lrg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-lrg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-lrg-1-12,
  .pure-u-lrg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-lrg-1-8,
  .pure-u-lrg-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-lrg-1-6,
  .pure-u-lrg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-lrg-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-lrg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-lrg-1-4,
  .pure-u-lrg-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-lrg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-lrg-1-3,
  .pure-u-lrg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-lrg-3-8,
  .pure-u-lrg-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-lrg-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-lrg-5-12,
  .pure-u-lrg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-lrg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-lrg-1-2,
  .pure-u-lrg-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-lrg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-lrg-7-12,
  .pure-u-lrg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-lrg-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-lrg-5-8,
  .pure-u-lrg-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-lrg-2-3,
  .pure-u-lrg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-lrg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-lrg-3-4,
  .pure-u-lrg-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-lrg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-lrg-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-lrg-5-6,
  .pure-u-lrg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-lrg-7-8,
  .pure-u-lrg-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-lrg-11-12,
  .pure-u-lrg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-lrg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-lrg-1,
  .pure-u-lrg-1-1,
  .pure-u-lrg-5-5,
  .pure-u-lrg-24-24 {
    width: 100%;
  }

}

@media screen and (min-width: 75em) {
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-3,
  .pure-u-xl-2-3,
  .pure-u-xl-1-4,
  .pure-u-xl-3-4,
  .pure-u-xl-1-5,
  .pure-u-xl-2-5,
  .pure-u-xl-3-5,
  .pure-u-xl-4-5,
  .pure-u-xl-5-5,
  .pure-u-xl-1-6,
  .pure-u-xl-5-6,
  .pure-u-xl-1-8,
  .pure-u-xl-3-8,
  .pure-u-xl-5-8,
  .pure-u-xl-7-8,
  .pure-u-xl-1-12,
  .pure-u-xl-5-12,
  .pure-u-xl-7-12,
  .pure-u-xl-11-12,
  .pure-u-xl-1-24,
  .pure-u-xl-2-24,
  .pure-u-xl-3-24,
  .pure-u-xl-4-24,
  .pure-u-xl-5-24,
  .pure-u-xl-6-24,
  .pure-u-xl-7-24,
  .pure-u-xl-8-24,
  .pure-u-xl-9-24,
  .pure-u-xl-10-24,
  .pure-u-xl-11-24,
  .pure-u-xl-12-24,
  .pure-u-xl-13-24,
  .pure-u-xl-14-24,
  .pure-u-xl-15-24,
  .pure-u-xl-16-24,
  .pure-u-xl-17-24,
  .pure-u-xl-18-24,
  .pure-u-xl-19-24,
  .pure-u-xl-20-24,
  .pure-u-xl-21-24,
  .pure-u-xl-22-24,
  .pure-u-xl-23-24,
  .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-xl-1-12,
  .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-xl-1-8,
  .pure-u-xl-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-xl-1-6,
  .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-xl-1-4,
  .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-xl-1-3,
  .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-xl-3-8,
  .pure-u-xl-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-xl-5-12,
  .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-xl-1-2,
  .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-xl-7-12,
  .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-xl-5-8,
  .pure-u-xl-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-xl-2-3,
  .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-xl-3-4,
  .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-xl-5-6,
  .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-xl-7-8,
  .pure-u-xl-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-xl-11-12,
  .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-5-5,
  .pure-u-xl-24-24 {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
* -- BASE STYLES --
* Most of these are inherited from Base, but I want to change a few.
*/
body {
  line-height: 1.4em;
  font-size: 16px;
  color: #282828;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #181818;
}

a {
  color: #e500e5;
  text-decoration: none;
}

a:hover {
  color: #B814B8;
}

.triangle-up {
  height: 0;
  padding-top: 25px;
  overflow: hidden;
}

.triangle-up:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid white;
}


/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
  text-align: center;
}


/*
* -- SPLASH STYLES --
* This is the magenta top section that appears on the page.
*/
.splash-container {
  background: #e500e5;
  padding: 60px 0;
  min-height: 22.4em;
}

.splash {
  float: right;
  position: relative;
  width: 240px;
  left: -50%;
  text-align: center;
  text-transform: uppercase;
}

/* This is the main heading that appears on the magenta section */
.splash-head {
  position: relative;
  left: 50%;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  line-height: 1em;
}

/* This is the subheading that appears on the magenta section */
.splash-subhead {
  position: relative;
  left: 50%;
  color: white;
  font-size: .8em;
  letter-spacing: 0.05em;
  opacity: 0.8;
}


/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  float: left;
  width: 100%;
  position: relative;
}

.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

.section-head {
  background: #e94ae9;
  color: white;
  text-transform: uppercase;
  padding: 25px 0 0;
}
  .section-head h2 {
    color: white;
    font-weight: 300;
    margin: 0;
    padding-bottom: 6px;
  }

.section-content {
  margin: 1.6em;
}
  .section-content h3 {
    color: #333;
    margin: 0;
    padding-bottom: 3px;
  }
  .section-content .subhead {
    color: #666;
  }


/* This is the class used for the dark-background areas. */
.ribbon {
  margin: 0;
  padding: 0;
  color: white;
}

.ribbon-splash {
  background: #e500e5;
}

.ribbon > h3 {
  vertical-align: center;
}

.ribbon > .l-box:nth-child(1) {
  background: #6a1b6a;
}

.ribbon .l-box:nth-child(2) {
  background: #770D77;
}

.ribbon .l-box:nth-child(3) {
  background: #850085;
}

/* This is the class used for the footer */
.footer {
  background: #652065;
}


/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  .splash-container {
    min-height: 480px;
  }

  .splash {
    width: 320px;
  }

  .splash-head {
    font-size: 250%;
  }

  .splash-subhead {
    font-size: 100%;
    line-height: 160%;
  }

  .section-content {
    margin: 1.6em 14%;
  }
}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large devices, we want to over-ride some
* of the mobile and tablet styles.
*/
@media (min-width: 78em) {
}
