<section class="section">
  <header class="section-head">
    <h2 class="is-center">
      README
    </h2>
    <div class="triangle-up"></div>
  </header>
  <div class="section-content">
    <h3>
      Our One Job
    </h3>
    <div class="pure-g pure-u-1">
      <p>
        Create a welcoming environment for sharing data.
      </p>
  </div>
</section>
<section class="section">
  <div class="section-content">
    <h3>
      Code of Conduct
    </h3>
    <div class="pure-g pure-u-1">
      <p>
        A code of conduct applies wherever we gather to talk data. This is true both in person and online.
      </p>
      <ul>
        <li>We want to be inclusive. Don't engage in homophobic, racist, transphobic, ableist, sexist, or otherwise exclusionary behavior. Don’t make exclusionary jokes. Don’t even make them “ironically.”</li>
        <li>Don’t harass people. Unconsented physical contact or sexual attention is harrassment. Dressing or acting in a certain way is not consent.</li>
        <li>Aggression and elitism are unwelcome here. Data-ing is not a competition.</li>
        <li>Although some groups may meet in a pub, there is no expectation or pressure to drink alcohol. Don’t question anyone’s choice of drink.</li>
        <li>We’d rather you ask about gender than assume, and if you get it wrong, apologise, and use what they prefer.</li>
        <li>We think feminism is a good thing. Discussion of how to make data more inclusive is welcome. Claims that this “has gone too far” aren’t.</li>
      </ul>
      <p>It might be a good idea to read about <a href="http://theangryblackwoman.com/2009/10/01/the-dos-and-donts-of-being-a-good-ally/" >being a good ally</a> or some <a href="http://superopinionated.com/101-a-tron/" >specific resources for various issues</a> if you’re worried about offending people.</p>
    <p class="subhead">
      <em>
        Copied with small changes from the <a href="http://computeranonymous.org/">Computer Anonymous</a> public domain code of conduct.
      </em>
    </p>
  </div>
</section>
<section class="section">
  <div class="section-content">
    <h3>
      Contact
    </h3>
    <div class="pure-g pure-u-1">
      <p>
        <a href="http://twitter.com/becausedata">@becausedata</a>
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="section-content">
    <h3>
      License
    </h3>
    <div class="pure-g pure-u-1">
      <p><a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a></p>
      <p>
        To the extent possible under law, the person who associated CC0 with this work has waived all copyright and related or neighboring rights to this work.
      </p>
    </div>
  </div>
</section>
